// Colour palette
// ============================
// Default Colour
$d1: #747474 !default;

// Main Colours
$m1: #13A5A6 !default;
$m2: #B20D6E !default;
$m3: #062A42 !default;
$m4: #194B6C !default;
$m5: #FFA5A5 !default;

// Shade Colours
$s0: #6B6B6B !default;
$s1: #999999 !default;
$s2: #F9F8F8 !default;

// layout variables
$boundry: 1180;