html {
  -webkit-font-smoothing: antialiased; // all webkit
  -moz-osx-font-smoothing: grayscale; // firefox
}

body {
  font-family: $font-family-1;
  color: $d1;
}

// Margins
.margin-fourty {
  margin-bottom: cre(40px);
}

.pink-title {
  font-size: cre(44px);
  line-height: cre(54px);
  color: $m5;
}

.max-width {
  max-width: cre(571px);
}

.margin-left {
  margin-left: auto;
}

.margin-bottom-neg-16 {
  margin-bottom: cre(-16px);
}

// Main Content layout
.site-content {}