// Burger button
// ==============================
.menu-toggle {
  @include button-reset;
  font-size: 0;
  color: transparent;
  position: absolute;
  top: cre(30px);
  right: cre(10px);
  width: cre(60px);
  height: cre(50px);

  &:before,
  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2px;
    width: 50%;
    content: '';
    background: $m1;
  }

  &:before {
    margin-top: cre(2px * -4);
    transform: translate(-50%, -50%);
    transition:
      margin-top .3s,
      transform .3s;
  }

  &:after {
    box-shadow: 0 cre(2px * 4) 0 0 $m1;
    transform: translate(-50%, -50%);
    transition:
      box-shadow .3s,
      transform .3s;
  }

  @media screen and (min-width: 600px) {
    display: none;
  }

  // Active Trigger State
  // ================================

  .menu-is-open & {

    &:before {
      margin-top: 0;
      transform:
        translate(-50%, -50%)
        rotate(-45deg);
    }

    &:after {
      box-shadow: none;
      transform:
        translate(-50%, -50%)
        rotate(45deg);
    }
  }
}

// The Navigation Menu
// ==================================
#site-navigation {
  display: none;
  background-color: $m1;
  padding: cre(10px) cre(20px) cre(40px);
  width: 100%;
  position: absolute;
  top: cre(112px);

  .menu-is-open & {
    display: block;
  }

  @media screen and (min-width: 600px) {
    display: block;
    background-color: transparent;
    margin-left: auto;
    padding: 0;
    width: auto;
    position: static;
  }

  // Primary menu container
  .menu {}

  // Unorder list links
  #primary-menu {
    @include list-reset;

    @media screen and (min-width: 600px) {
      display: flex;
      flex-flow: row wrap;
    }

    > li {

      a {
        display: block;
        font-weight: bold;
        border-bottom: 1px solid white;
        color: white;
        padding: cre(20px);
      }

      @media screen and (min-width: 600px) {
        margin-right: cre(30px);

        a {
          font-size: cre(21px);
          line-height: cre(25px);
          border-bottom: 0;
          color: $m1;
          transition: color 0.5s;
  
          &:focus,
          &:hover {
            text-decoration: none;
            color: darken($m1, 10%);
          }
        }
      }

      &.current-menu-item {

        a {
          position: relative;

          &::after {
            content: '';
            background-color: $m1;
            width: 100%;
            height: 2px;
            position: absolute;
            bottom: -4px;
            left: 0;
          }
        }
      }
    }
  }
} // #site-navigation


.footer-links {

  .menu-footer-container {
    padding-top: cre(20px);

    // The UL element
    .menu {
      @include list-reset;
      display: flex;
      justify-content: flex-end;

      li {
        font-size: cre(12px);
        margin-right: cre(30px);

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}