#site-navigation {
  margin-left: auto;

  .menu-toggle {
    display: none;
  }

  // Primary menu container
  .menu {}

  // Unorder list links
  .nav-menu {
    @include list-reset;
    display: flex;
    flex-flow: row wrap;

    > li {
      margin-right: cre(40px);

      a {
        font-size: cre(21px);
        font-weight: bold;
        line-height: cre(25px);
        color: $m1;
        transition: color 0.5s;

        &:focus,
        &:hover {
          text-decoration: none;
          color: darken($m1, 10%);
        }
      }

      &.current-menu-item {

        a {
          position: relative;

          &::after {
            content: '';
            background-color: $m1;
            width: 100%;
            height: 2px;
            position: absolute;
            bottom: -4px;
            left: 0;
          }
        }
      }
    }
  }
} // #site-navigation


.footer-links {

  .menu-footer-container {
    padding-top: cre(20px);

    // The UL element
    .menu {
      @include list-reset;
      display: flex;
      justify-content: flex-end;

      li {
        font-size: cre(12px);
        margin-right: cre(30px);

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}