#site-navigation {
  margin-left: auto;

  .menu-toggle {
    display: none;
  }

  // Primary menu container
  .menu {}

  // Unorder list links
  .nav-menu {
    @include list-reset;
    display: flex;
    flex-flow: row wrap;

    > li {
      margin-right: cre(10px);
    }
  }
} // #site-navigation