
.ab-block-accordion {

  .ab-accordion-title {
    font-weight: bold;
    background-color: $s5;
    color: $m4;
  }

  .ab-accordion-text {
    background-color: white;
    padding: cre(40px) cre(40px) cre(20px);
  }
}