// Global submit postcod styles
// ==================================
.post-code-submit {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  width: 100%;
  max-width: cre(280px);
  margin: auto;

  @media screen and (min-width: 600px) {
    max-width: cre(539px);
  }

  p {
    margin: 0;
  }

  &.white {

    input[type='text'] {
      background-color: white;
    }
  }

  input[type='text'] {
    background-color: #f1f1f1;
    border-radius: 8px 0 0 8px;
    border: 0;
    width: 100%;
    height: 100%;
    max-height: cre(86px);
    padding: 33px 10px;
    text-align: center;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
  
    @media screen and (min-width: 600px) {
      width: cre(453px);
    }
  }

  input[type='submit'] {
    @include button-reset;
    font-size: 0;
    background-color: transparent;
    color: transparent;
    width: cre(86px);
    height: cre(86px);
    position: relative;
  }

  .submit-button {
    background-color: $m2;
    border-radius: 0 8px 8px 0;
    position: relative;
    max-width: 86px;
    max-height: cre(86px);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);

    &::before {
      @include font-icon('\e90c');
      font-size: cre(20px);
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

// Hero Specific form
// ==================================
.hero-form-container {
  position: absolute;
  top: cre(150px);
  left: cre(20px);

  @media screen and (min-width: 600px) {
    top: auto;
    bottom: cre(70px);
    left: cre(80x);
  }

  .postcode-complete &,
  .contact-us & {
    display: none;
  }

  h3 {
    font-size: cre(24px);
    color: white;
    margin-bottom: cre(20px);
    text-shadow: 0 -1px 8px rgba(0,0,0,0.5);

    @media screen and (min-width: 600px) {
      font-size: cre(24px);
    }
  }
}

#hero-form {

  input[type='text'] {
    padding: 25px 10px 26px;
    width: 65%;

    @media screen and (min-width: 600px) {
      width: cre(374px);
    }
  }

  input[type='submit'] {
    font-size: cre(14px);
    padding-left: cre(5px);
    padding-right: cre(5px);
    width: cre(71px);
    height: cre(71px);
  }

  .submit-button {
    max-width: cre(71px);
    max-height: cre(71px);
  }
}

// Contact form
// ==================================
.contact-form {
  width: 100%;
  max-width: cre(700px);
  margin-left: auto;
  margin-right: auto;

  label {
    font-weight: bold;
    color: $m3;
    width: 100%;
  }

  input[type='text'],
  input[type='email'],
  input[type='tel'] {
    padding: cre(10px);
    width: 100%;
  }

  textarea {
    width: 100%;
  }

  .name-fields {
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    label {
      margin-right: cre(30px);

      &:last-child {
        margin-right: 0;
      }
    }

    span {
      display: block;
    }
  } // .name-fields

  input[type='submit'] {
    @include button-reset;
    font-size: cre(21px);
    font-weight: 600;
    line-height: cre(35px);
    background-color: $m2;
    border-radius: 11px;
    color: white;
    padding: cre(10px) cre(30px);
    text-transform: uppercase;
    transition: 0.3s;

    &:focus,
    &:hover {
      background-color: darken($m2, 10%);
    }
  }

  .button-container {
    text-align: right;

    .ajax-loader {
      display: none;
    }
  }
} // .contact-form


// Postcode Complete form
// ==================================
.cf-postcode-complete {
  width: 100%;
  max-width: cre(580px);
  margin: auto;

  span {
    width: 100%;
  }

  input {
    font-size: cre(25px);
    font-weight: 600;
    line-height: 1.5;
    color: $m3;

    &::placeholder {
      font-size: cre(18px);
      font-weight: 600;
      line-height: 1.5;
      color: $m3;
    }
  }

  input[type='email'],
  input[type='tel'],
  input[type='submit'],
  input[type='text'],
  textarea {
    width: 100%;
    padding: cre(10px) cre(20px);
  }

  select {
    font-size: cre(18px);
    font-weight: 600;
    line-height: 1.5;
    padding: cre(15px) cre(20px);
    width: 100%;
  }

  input[type='submit'] {
    font-size: cre(24px);
    font-weight: 600;
    line-height: 1.5;
    @include button-reset;
    background-color: #B20D6E;
    border-radius: cre(11px);
    color: white;
    padding: cre(20px);
    text-transform: uppercase;
    transition: 0.3s ease;

    &:hover {
      background-color: darken($m2, 15%);
    }
  }

  .text-description {
    font-size: cre(20px);
    font-weight: 600;
    line-height: 1.5;
    color: $m3;
    padding: cre(20px) 0 0 cre(20px);
  }

  .check-item {
    font-size: cre(21px);
    font-weight: 500;
    line-height: 1.5;
    color: $m3;
    padding: cre(20px) 0;
    text-align: center;
  }

  .agreement {

    span {
      width: auto;
    }

    .wpcf7-list-item-label {
      display: none;
    }
  }
}