.hero-treatment {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  max-height: cre(700px);
  position: relative;

  .featured-caption {
    font-size: cre(43px);
    font-weight: 600;
    line-height: cre(43px);
    color: white;
    padding: cre(20px);
    position: absolute;
    bottom: cre(60px);
    right: cre(40px);
    text-align: right;

    p {
      margin-bottom: 0;
    }
  }
}