.search-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(black, 0.85);
  width: 100%;
  height: cre(250px);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0,-100%,0);
  transition: 0.5s;

  .search-is-active & {
    transform: translate3d(0,0,0);
  }

  .close-search {
    font-size: 0;
    background-color: transparent;
    border: 0;
    color: transparent;
    width: cre(30px);
    height: cre(30px);
    position: absolute;
    top: cre(20px);
    right: cre(20px);

    &::before {
      content: '';
      width: 100%;
      height: 2px;
      background-color: white;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%) rotate(45deg);
    }

    &::after {
      content: '';
      width: 100%;
      height: 2px;
      background-color: white;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%) rotate(-45deg);
    }
  }
}

.search-form {

  .search-field {
    border: 0;
    padding: 0.5rem 1rem;
  }

  .search-submit {
    background-color: $m1;
    color: white;
    border: 0;
    padding: 0.5rem 1rem;
  }
}