figure {
  margin-bottom: 0;

  &.wp-block-image {
    margin-bottom: 0;
  }
}

// Link colours
a {
  color: $m1;
  transition: 0.3s;

  &:focus,
  &:hover {
    text-decoration: none;
    color: darken($m1, 10%);
  }
}

// responsive images
img {
  max-width: 100%;
  height: auto;
}