.home {

  .slick-dots {
    display: none;
  }

  .welcome-message {
    font-size: cre(30px);
    padding: cre(40px);
    text-align: center;
  }

  // Info Icons
  // =================================
  .info-icons {

    .house-icon {
      padding-top: cre(160px);
      position: relative;

      &::before {
        @include font-icon('\e906');
        font-size: cre(110px);
        color: $m1;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    } // .house-icon

    .clock-icon {
      padding-top: cre(160px);
      position: relative;

      &::before {
        @include font-icon('\e904');
        font-size: cre(110px);
        color: $m1;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    } // .clock-icon

    .cash-icon {
      padding-top: cre(160px);
      position: relative;

      &::before {
        @include font-icon('\e908');
        font-size: cre(110px);
        color: $m1;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }

      &::after {
        display: none;
      }
    } // .cash-icon

    .box-item {
      position: relative;

      &::after {
        @include font-icon('\e901');
        font-size: cre(50px);
        color: $s3;
        position: absolute;
        top: 50%;
        right: cre(-40px);
        transform: translateY(-50%);
      }
    }
  } // info-icons

  // Quick Section
  // =================================
  .quick-section-container {
    position: relative;

    &::before {
      content: '';
      background-color: rgba(0,0,0,0.5);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    // Quiction Section Title
    .quick-section-title {
      font-size: cre(40px);
      font-weight: 600;
      line-height: cre(49px);
      color: white;
      margin-bottom: cre(100px);
      position: relative;
      z-index: 1;
      text-align: center;
    }
  } // .quick-section-container

  // Contact icons section
  // =================================
  .contact-icons {

    .phone-column {
      margin-left: cre(100px);
      position: relative;

      &::before {
        @include font-icon('\e90b');
        font-size: cre(30px);
        position: absolute;
        top: 45%;
        left: -70px;
        transform: translate(0, -50%);
        z-index: 1;
      }

      &::after {
        content: '';
        background-color: $m1;
        border-radius: 50%;
        width: cre(78px);
        height: cre(78px);
        position: absolute;
        top: 45%;
        left: -95px;
        transform: translate(0, -50%);
      }
    }

    .email-column {
      margin-left: cre(100px);
      position: relative;

      &::before {
        @include font-icon('\e905');
        font-size: cre(30px);
        position: absolute;
        top: 45%;
        left: -70px;
        transform: translate(0, -50%);
        z-index: 1;
      }

      &::after {
        content: '';
        background-color: $m1;
        border-radius: 50%;
        width: cre(78px);
        height: cre(78px);
        position: absolute;
        top: 45%;
        left: -95px;
        transform: translate(0, -50%);
      }
    }
  }
}