.site-main {
  &.container {
    max-width: cre(700px);
    padding-top: cre(140px);
    padding-bottom: cre(40px);
  }
}

// Global on all pages
.welcome-message {
  font-size: cre(30px);
  padding: cre(40px);
  text-align: center;
}

// Welcome Blue and mobile padding
// =================================
@media screen and (max-width: 600px) {
  .welcome-blue {
    padding-top: cre(100px)!important;
    padding-left: cre(20px);
    padding-right: cre(20px);

    p {
      font-size: cre(33px)!important;
      line-height: cre(43px);
    }
  } // .welcome-blue

  .mobile-padding {
    padding: cre(30px);
  }

  a {
    word-wrap: break-word;
  }
}

// How it works page
// ==============================
.jump-block {
  height: 100%;

  @media screen and (min-width: 600px) {
    height: cre(68px);
  }

  div {
    height: 100%;
    overflow: hidden;
  }

  .custom-nav-items {
    @include list-reset;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    @media screen and (min-width: 600px) {
      flex-flow: row;
      justify-content: center;
      align-items: center;
    }

    li {
      display: flex;
      flex-flow: column;
      justify-content: center;
      font-size: cre(21px);
      font-weight: 500;
      line-height: cre(40px);
      height: 100%;
      text-transform: uppercase;
      overflow: hidden;
    }

    a {
      color: white;
      padding: cre(10px) cre(25px);
      transition: 0.3s;

      @media screen and (min-width: 600px) {
        padding: cre(21px) cre(25px) cre(22px);
      }      

      &:focus,
      &:hover {
        background-color: $m6;
        text-decoration: none;
      }
    }
  }
} // .jump-block

.item-circle {
  font-weight: bold;
  position: relative;
  color: white;
  z-index: 1;

  &::before {
    content: '';
    background-color: $m1;
    border-radius: 50%;
    width: cre(67px);
    height: cre(67px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}

.help-list {

  ul {

    > li {
      font-size: cre(25px);
      font-weight: 500;
      line-height: 1.5;
      color: $m3;
      margin-bottom: cre(60px);
    }
  }
}

.how-it-works {

  .ab-accordion-title {
    font-size: cre(23px);
    line-height: cre(24px);
    background-color: $m3;
    color: $m5;
  }
}


// Why Choose us
// ==========================



// Contact us
// ==========================
.contact-us {

  a {
    color: $m3;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }

  .site-footer {

    a {
      color: white;
    }
  }
}