.site-main {
  &.container {
    max-width: cre(700px);
    padding-top: cre(140px);
    padding-bottom: cre(40px);
  }
}

// How it works page
// ==============================
.jump-block {
  height: cre(68px);

  div {
    height: 100%;
    overflow: hidden;
  }

  .custom-nav-items {
    @include list-reset;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    height: 100%;

    li {
      display: flex;
      flex-flow: column;
      justify-content: center;
      font-size: cre(21px);
      font-weight: 500;
      line-height: cre(40px);
      height: 100%;
      text-transform: uppercase;
      overflow: hidden;
    }

    a {
      color: white;
      padding: cre(21px) cre(25px) cre(22px);
      transition: 0.3s;

      &:focus,
      &:hover {
        background-color: $m6;
        text-decoration: none;
      }
    }
  }
} // .jump-block

.item-circle {
  font-weight: bold;
  position: relative;
  color: white;
  z-index: 1;

  &::before {
    content: '';
    background-color: $m1;
    border-radius: 50%;
    width: cre(67px);
    height: cre(67px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}

.help-list {

  ul {

    > li {
      font-size: cre(24px);
      font-weight: 500;
      color: $m3;
    }
  }
}


// Why Choose us
// ==========================



// Contact us
// ==========================
.contact-us {

  a {
    color: $m3;
  }
}